[buildout]
index = http://packages.lizardsystem.nl
find-links = http://packages.lizardsystem.nl/twitter-text-py-1.0.3fixed.tar.gz
unzip = true
prefer-final = true
versions = versions
extensions = buildout.dumppickedversions
parts =
    sysegg
    django
    omelette
    console_scripts
    pyflakes
develop = .
#         local_checkouts/some_trunk_external
eggs =
    lizard-sticky-twitterized


[versions]
# Specific pins
lizard-sticky-twitterized =
twitter-text-py = 1.0.3fixed

#Required by:
#tweetstream 1.1.1
anyjson = 0.3.1

#Required by:
#lizard-sticky-twitterized 0.4.5dev
tweetstream = 1.1.1

# Reported by buildout.dumppickedversions
BeautifulSoup = 3.2.0
collective.recipe.omelette = 0.10
coverage = 3.4
django-compressor = 0.8
django-extensions = 0.6
django-nose = 0.1.3
django-piston = 0.2.2
django-staticfiles = 1.0.1
eazysvn = 1.12.1
lizard-map = 1.77
lizard-ui = 1.60
nose = 1.0.0
osc.recipe.sysegg = 0.1.2
pep8 = 0.6.1
PIL = 1.1.7
pkginfo = 0.8
pyflakes = 0.4.0
South = 0.7.3
zest.releaser = 3.22


[sysegg]
recipe = osc.recipe.sysegg
force-sysegg = true
eggs =
    psycopg2
#    PIL
    matplotlib
#    pyproj


[django]
# Sets up django for testing our application.
# See http://jacobian.org/writing/django-apps-with-buildout/
recipe = djangorecipe
version = 1.2.1
project = lizard_sticky_twitterized
projectegg = lizard_sticky_twitterized
settings = testsettings
test = lizard_sticky_twitterized
eggs = lizard-sticky-twitterized


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    eazysvn
    coverage > 3.3.1
    pep8
    zest.releaser


[pyflakes]
# Hairy way to install pyflakes: old-style distutils script.
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'
